<ng-template #company1Popover>
  <div class="triangle"> </div>
  <div class="" style="width:250px;">
    <div class="form-group">
      <button type="button" class="close" (click)="setClearAllSearchFields(p1);">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class='form-control customInput' style='width: 100%;' id="cboCompany1FilterType">
        <option value='Equals'>Equals</option>
        <option value='Contains'>Contains</option>
        <option value='StartsWith'>StartsWith</option>
        <option value='EndsWith'>EndsWith</option>
      </select>
    </div>
    <div class="form-group" id="divCompany1Filter">
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="txtCompany1FilterValue" style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)="applyCompany1Filter(p1)">Apply</button>
    <button type='button' class='resetBtn pull-right' (click)="clearCompany1Filter()">Clear Filter</button>
  </div>
</ng-template>
<ng-template #company2Popover>
  <div class="triangle"> </div>
  <div class="" style="width:250px;">
    <div class="form-group">
      <button type="button" class="close" (click)="setClearAllSearchFields(p2);">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class='form-control customInput' style='width: 100%;' id="cboCompany2FilterType">
        <option value='Equals'>Equals</option>
        <option value='Contains'>Contains</option>
        <option value='StartsWith'>StartsWith</option>
        <option value='EndsWith'>EndsWith</option>
      </select>
    </div>
    <div class="form-group" id="divCompany2Filter">
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="txtCompany2FilterValue" style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)="applyCompany2Filter(p2)">Apply</button>
    <button type='button' class='resetBtn pull-right' (click)="clearCompany2Filter()">Clear Filter</button>
  </div>
</ng-template>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" color="#fff" type="ball-scale-multiple"></ngx-spinner>
<div class="row">
  <div class="col-sm-12">
    <div class="main-tab-content order-management-content">
      <div class="row">
        <div class="col-sm-5">
          <div class="tabContent">
            <div class="tabContentArea" style="padding-top: 0;">
              <!-- (ngSubmit)="AddUpdateAdvertiserAgencyMappingSubmit()" -->
              <form [formGroup]="AdvertiserAgencyMappingForm" >
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                    <label for="">Company 1 <span class="mendatory">*</span></label>
                    <a href="javascript:" #p1="ngbPopover" [ngbPopover]="company1Popover" placement="bottom" class="add-link" [autoClose]="'outside'">
                      <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                    </a>
                      <div class="clearfix"></div>
                      <ng-select [items]="Advertisers_Agencies_Array" placeholder="Select company 1"
                        bindLabel="OrganizationName" bindValue="Id" formControlName="Advertiser"
                        (change)="get_Advertiser_Data()" [(ngModel)]="selectedAdvertiser" id="cboAdvertiser">
                      </ng-select>

                      <div *ngIf="(AdvertiserAgencyMappingForm.controls['Advertiser'].invalid 
                            && (isFormSubmitted 
                            || AdvertiserAgencyMappingForm.controls['Advertiser'].dirty 
                            || AdvertiserAgencyMappingForm.controls['Advertiser'].touched))" class="text-danger">
                        <span *ngIf="AdvertiserAgencyMappingForm.controls['Advertiser'].hasError('required') ">
                          This field is required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Company 2 <span class="mendatory">*</span></label>
                      <a href="javascript:" #p2="ngbPopover" [ngbPopover]="company2Popover" placement="bottom" class="add-link" [autoClose]="'outside'">
                        <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                      </a>
                      <div class="clearfix"></div>
                      <ng-select [items]="Company2_Array" placeholder="Select company 2"
                        bindLabel="OrganizationName" bindValue="Id" formControlName="Agency"
                        [(ngModel)]="selectedAgency" id="cboAgency">
                      </ng-select>
                      <div *ngIf="(AdvertiserAgencyMappingForm.controls['Agency'].invalid 
                              && (isFormSubmitted 
                              || AdvertiserAgencyMappingForm.controls['Agency'].dirty 
                              || AdvertiserAgencyMappingForm.controls['Agency'].touched))" class="text-danger">
                        <span *ngIf="AdvertiserAgencyMappingForm.controls['Agency'].hasError('required') ">
                          This field is required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Relation <span class="mendatory">*</span></label>
                      <div class="clearfix"></div>
                      <select class="form-control" #ddlRelation name="ddlRelation" formControlName="Relation" placeholder="Select relation">
                        <option value="Advertiser - Agency">Advertiser - Agency</option>
                      </select>
                      <div *ngIf="(AdvertiserAgencyMappingForm.controls['Relation'].invalid 
                              && (isFormSubmitted 
                              || AdvertiserAgencyMappingForm.controls['Relation'].dirty 
                              || AdvertiserAgencyMappingForm.controls['Relation'].touched))" class="text-danger">
                        <span *ngIf="AdvertiserAgencyMappingForm.controls['Relation'].hasError('required') ">
                          This field is required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group pull-left">
                      <button type="button" class="blueBtn createBtn" (click)="AddUpdateAdvertiserAgencyMappingSubmit()">
                        {{advertiserAgencyButtonName}}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>  
        <div class="col-md-7">
          <div class="table-responsive custom-table">
              <table class="table">
                  <thead>
                      <tr>
                          <th class="text-left">Company 1</th>
                          <th class="text-left">Company 2</th>
                          <th class="text-left">Relation</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let rep of advertisersAgencyMappingList">
                          <td class="text-left">{{rep.AdvertiserName}}</td>
                          <td class="text-left">{{rep.AgencyName}}</td>
                          <td class="text-left">{{rep.Relation}}</td>
                          <td class="text-center">
                              <a (click)="deleteAdvertiserAgencyMapping(rep)" title="Delete" style="cursor: pointer;width:20px;margin-right:0px;">
                                  <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png"
                                      alt="delete" />
                              </a>
                          </td>
                      </tr>
                      <tr *ngIf="advertisersAgencyMappingList.length == 0">
                          <td colspan="4" class="text-center">no record is found</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>