<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" color="#fff" type="ball-scale-multiple">

</ngx-spinner> -->
<div *ngIf="isLoading" class="loading-spiner">
  <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- <h2 class="mamTitle">
      <img src="../assets/CSS JS/mam-icon.png" alt="Media Asset Management" class="mamTitleImg" />
      Advertiser - Rep - Territory Mappin
    </h2> -->

    <div class="tabs-main-container">

      <ul class="nav nav-tabs pvTab" id="myTabs" role="tablist">
        <li role="presentation" style="cursor: pointer;"
          [ngClass]="{'active':AdvertiserAgencyTab, 'noclick':AdvertiserAgencyDisable}">
          <a (click)="setAdvertiserAgencyTabActive()" role="tab" data-toggle="tab"
            aria-controls="AdvertiserViewTab">Advertiser-Agency</a>
        </li>

        <li role="presentation" style="cursor: pointer;"
          [ngClass]="{'active':AdvertiserRepTerritoryTab, 'noclick':AdvertiserRepTerritoryDisable}">
          <a (click)="setAdvertiserRepTerritoryTabActive()" role="tab" data-toggle="tab"
            aria-controls="productionViewTab">Advertiser-Rep</a>
        </li>
      </ul>

      <div class="step-wizard tab-content">

        <div *ngIf="AdvertiserAgencyTab==true" class="tab-pane fade in" [class.active]="AdvertiserAgencyTab==true"
          role="tabpanel" id="AdvertiserAgency" aria-labelledby="AdvertiserAgency-tab">
          <app-advertiser-agency-mapping></app-advertiser-agency-mapping>
        </div>

        <div *ngIf="AdvertiserRepTerritoryTab==true" class="tab-pane fade in"
          [class.active]="AdvertiserRepTerritoryTab==true" role="tabpanel" id="AdvertiserRepTerritory"
          aria-labelledby="AdvertiserRepTerritory-tab">
          <app-advertiser-rep-territory-mapping></app-advertiser-rep-territory-mapping>
        </div>
      </div>
    </div>
  </div>
</div>