<style>
    ngb-popover-window
    {
        top:10px !important;
    }
</style>
<ng-template #advertiserPopover>
    <div class="triangle"> </div>
    <div class="" style="width:250px;">
      <div class="form-group">
        <button type="button" (click)="setClearAllSearchFields(p1);" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group">
        <label>Type</label>
        <select class='form-control customInput' style='width: 100%;' id="cboFilterType">
          <option value='Equals'>Equals</option>
          <option value='Contains'>Contains</option>
          <option value='StartsWith'>StartsWith</option>
          <option value='EndsWith'>EndsWith</option>
        </select>
      </div>
      <div class="form-group" id="divAdvertiserFilter">
        <label>Value</label>
        <br>
        <input type='text' class='form-control customInput' id="txtAdvertiserFilterValue" style='text-align: left;max-width: 100%;width: 100%;'>
      </div>
      <button type='button' class='blueBtn' (click)="applyAdvertiserFilter(p1)">Apply</button>
      <button type='button' class='resetBtn pull-right' (click)="clearAdvertiserFilter()">Clear Filter</button>
    </div>
  </ng-template>
<div class="main-tab-content order-management-content">
    <div class="row">
        <div class="col-sm-10">
            <div class="step-wizard tabContent">
                <div class="tabContentArea" style="padding-top: 0;">
                    <form [formGroup]="AdvertiserRepTerritoryMappingForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Advertiser <span class="mendatory">*</span></label>
                                    <a href="javascript:" #p1="ngbPopover" [ngbPopover]="advertiserPopover" placement="bottom" [autoClose]="'outside'" class="add-link" id="ancAgencyFilter">
                                        <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                                      </a>
                                    <div class="clearfix"></div>

                                    <ng-select [items]="Advertisers_Array" placeholder="Select advertiser"
                                        bindLabel="OrganizationName" bindValue="Id" formControlName="Advertiser"
                                        (change)="get_Advertiser_Data()" [(ngModel)]="selectedAdvertiser">
                                    </ng-select>

                                    <div *ngIf="(AdvertiserRepTerritoryMappingForm.controls['Advertiser'].invalid 
                  && (isFormSubmitted 
                  || AdvertiserRepTerritoryMappingForm.controls['Advertiser'].dirty 
                  || AdvertiserRepTerritoryMappingForm.controls['Advertiser'].touched))" class="text-danger">
                                        <span
                                            *ngIf="AdvertiserRepTerritoryMappingForm.controls['Advertiser'].hasError('required') ">
                                            This field is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" *ngFor="let field of fieldArray; let i = index">
                        <div class="optionBox">
                            <div class="block">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Rep <span class="mendatory">*</span></label>
                                        <div class="clearfix"></div>
                                        <select [(ngModel)]="field.Rep" #ddlRep (change)="onChangeReps(ddlRep.value,i)"
                                            name="{{field.Rep}}" class="form-control custom-select" id=""
                                            style="width: 100%" placeholder="Select rep">
                                            <option value="">Select rep</option>
                                            <option *ngFor="let item of Reps_Array;" [attr.value]="item.RepId">
                                                {{item.Name}}
                                            </option>
                                        </select>
                                        <div *ngIf="field.RepsErrorMsg != ''" class="text-danger">
                                            <span>
                                                {{field.RepsErrorMsg}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Territory <span class="mendatory">*</span></label>
                                        <div class="clearfix"></div>
                                        <select [(ngModel)]="field.Territory" name="{{field.Territory}}"
                                            class="form-control custom-select" id="" style="width: 100%"
                                            placeholder="Select territory">
                                            <option value="">Select territory</option>
                                            <option *ngFor="let item of field.TerritoryArray;"
                                                [attr.value]="item.TerritoryId">
                                                {{item.TerritoryName}}
                                            </option>
                                        </select>
                                        <div *ngIf="field.TerritoryErrorMsg != ''" class="text-danger">
                                            <span>
                                                {{field.TerritoryErrorMsg}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Percentage <span class="mendatory">*</span></label>
                                        <div class="clearfix"></div>
                                        <input [(ngModel)]="field.Percentage" class="form-control" type="number"
                                            step="1" name="{{field.Percentage}}" placeholder="Enter percentage" (change)="changePercentage($event.target.value,field.Percentage)">
                                        <div *ngIf="field.PencentageErrorMsg != ''" class="text-danger">
                                            <span>
                                                {{field.PencentageErrorMsg}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1" *ngIf="i == 0">
                                    <a href="javascript:void(0);" class="addRept custom addBtn"
                                        (click)="addNewFieldValue()">+</a>
                                </div>
                                <div class="col-md-1" *ngIf="i >= 1">
                                    <a href="javascript:void(0);" class="addRept custom removeBtn"
                                        (click)="deleteFieldValue(i)">-</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-left">
                                <button type="button" class="blueBtn createBtn" (click)="onSubmit(fieldArray)">
                                    {{advertiserRepButtonName}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive custom-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Advertiser</th>
                                            <th class="text-left">Rep</th>
                                            <th class="text-left">Territory</th>
                                            <th class="text-left">Percentage</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repMap of advertisersRepTerritoryMappingList">
                                            <td class="text-left">{{repMap.AdvertiserName}}</td>
                                            <td class="text-left">{{repMap.RepName}}</td>
                                            <td class="text-left">{{repMap.TerritoryName}}</td>
                                            <td class="text-left">{{repMap.Percentage}}</td>
                                            <td class="text-center">
                                                <a (click)="deleteAdvertiserRepTerritoryMapping(repMap)" title="Delete" style="cursor: pointer;width:20px;margin-right:0px;">
                                                    <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="delete" />
                                                </a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="advertisersRepTerritoryMappingList.length == 0">
                                            <td colspan="5" class="text-center">no record is found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>